My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1DPgjqisY_DsnDetCkmvBSvmN62-cz3xY",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1DPgjqisY_DsnDetCkmvBSvmN62-cz3xY"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1152,
        -256
      ],
      "id": "937ba48a-6ff4-4fcd-90de-c742dcadd864",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "b0H7PRKnp8FpNwAx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -896,
        -256
      ],
      "id": "4d44de4c-6e61-4961-9213-fac64546e568",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "b0H7PRKnp8FpNwAx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -720,
        -256
      ],
      "id": "2a27ce40-bb71-40cb-879a-a7625d4d1f02",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "2uR2LsGZnrx7HVdb",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -912,
        64
      ],
      "id": "f1c68e23-b10a-4b0e-b1d5-e213b87a4135",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "6j5ySBuL1L6IbMfc",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -704,
        48
      ],
      "id": "fa1965be-4ade-4753-b1ee-cba92903cac9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -704,
        240
      ],
      "id": "16238aa9-c8a3-46f3-9aaa-6689fdb5c0ce",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        -272
      ],
      "id": "5f861c68-9ed2-4edc-9818-5367d625471b",
      "name": "When chat message received",
      "webhookId": "80ab1b54-839a-46fe-8c6f-6adfb8f4ccec"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -64,
        -272
      ],
      "id": "c8e3aee7-f406-4e9f-ae6e-6284451b6cb2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to access database",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -16,
        -48
      ],
      "id": "65138a36-2644-4a88-90d4-454c5bd7fffd",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "2uR2LsGZnrx7HVdb",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -32,
        128
      ],
      "id": "80ad3695-5cde-4ce9-9dbf-5638688c674a",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "6j5ySBuL1L6IbMfc",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -208,
        -64
      ],
      "id": "83e392c2-e6b2-4b1f-b506-70a04a057381",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "6j5ySBuL1L6IbMfc",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ukreddy2020@gmail.com",
        "subject": "Respone to your query",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        288,
        -272
      ],
      "id": "bff288de-2915-49a6-b053-34a6fee30af8",
      "name": "Send a message",
      "webhookId": "46d41336-193f-46c8-abe8-f2d742ec8101",
      "credentials": {
        "gmailOAuth2": {
          "id": "oS6CMviLM4Ni4Nnv",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7a235dd9-ca8f-4b0a-ba3c-3f5d3e5a6626",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b13f5922f164ad0db274a32e8db7e232ef1786bde3f70b88bdfe2d68271a349d"
  },
  "id": "C7V7s6k54clHkHuU",
  "tags": []
}